if TARGET_BYTEDEVKIT

config SYS_BOARD
	default "bytedevkit"

config SYS_VENDOR
	default "bytesatwork"

config SYS_CONFIG_NAME
	default "bytedevkit"

choice
	prompt "byteENGINE STM32MP1 DDR size"
	default BYTEENGINE_STM32MP1_RAM_512

config BYTEENGINE_STM32MP1_RAM_512
	bool "512MB"

config BYTEENGINE_STM32MP1_RAM_1024
	bool "1024MB"

endchoice

config CMD_HWID
       bool "read from and program HWID EEPROM and set env vars"
       default y
       help
	  This option enables the U-Boot CLI command `hwid` which enables
	  reading out content from the designated HWID (HardWare ID) EEPROM
	  and programming that ROM.  With that EEPROM byteENGINEs are able to
	  destinguish on which type of board they run and can dynamically
	  pass the right Device-Trees to the Kernel.



source "board/st/common/Kconfig"

endif
