if TARGET_BYTEDEVKIT

config SYS_BOARD
	default "bytedevkit"

config SYS_VENDOR
	default "bytesatwork"

config SYS_CONFIG_NAME
	default "bytedevkit"

choice
	prompt "byteENGINE STM32MP1 DDR size"
	default BYTEENGINE_STM32MP1_RAM_512

config BYTEENGINE_STM32MP1_RAM_512
	bool "512MB"

config BYTEENGINE_STM32MP1_RAM_1024
	bool "1024MB"

endchoice

config CMD_HWID
       bool "read from and program HWID EEPROM and set env vars"
       default y
       help
	  This option enables the U-Boot CLI command `hwid` which enables
	  reading out content from the designated HWID (HardWare ID) EEPROM
	  and programming that ROM.  With that EEPROM byteENGINEs are able to
	  destinguish on which type of board they run and can dynamically
	  pass the right Device-Trees to the Kernel.

menu "bytes at work config tool"

config CMD_BAW_CONFIG
	bool "bawconfig command"
	default y
	help
	  Enable bawconfig command functionality.
	  Command is used to read and write production data.
	  In general the production data is stored in the EEPROM on the module.

config BAW_CONFIG_EEPROM
	bool "bawconfig eeprom support"
	default y
	help
	  Enable bawconfig EEPROM read/write functionality.
	  Allows to read and write the production data to the EEPROM on the
	  module.

config BAW_CONFIG_EEPROM_BUS
	int "bawconfig I2C bus number"
	default 3
	help
	  I2C bus number of production data EEPROM.

config BAW_CONFIG_EEPROM_ADDRESS
	hex "bawconfig I2C address"
	default 0x50
	help
	  I2C address of production data EEPROM.

config BAW_CONFIG_BUILTIN
	bool "bawconfig builtin support"
	default n
	help
	  Enable bawconfig builtin configuration functionality.
	  Uses the define values from the board header.
	  See for example include/configs/bytedevkit.h.

endmenu


source "board/st/common/Kconfig"

endif
