if TARGET_BYTEDEVKIT

config SYS_BOARD
	default "bytedevkit"

config SYS_VENDOR
	default "bytesatwork"

config SYS_CONFIG_NAME
	default "bytedevkit"

choice
	prompt "byteENGINE STM32MP1 DDR size"
	default BYTEENGINE_STM32MP1_RAM_512

config BYTEENGINE_STM32MP1_RAM_512
	bool "512MB"

config BYTEENGINE_STM32MP1_RAM_1024
	bool "1024MB"

endchoice

source "board/st/common/Kconfig"

endif
